<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Latest Movie</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script type="text/javascript" src="/zepto.min.js"></script>
  </head>
  <body>