<% include header %>
<div>
  Username: <input type="text" name="username"/>
</div>
<div>
  First Name: <input type="text" name="firstName"/>
</div>
<div>
  Last Name: <input type="text" name="lastName"/>
</div>
<!-- Wake me up before you... -->
<input type="button" value="Create" name="gogo"/>
<script type="text/javascript" src="/new.js"></script>
<% include footer %>