<!DOCTYPE HTML>
<html>
  <head>
    <title>Chatter Box</title>
    <link rel="stylesheet",type="text/css" href="styles.css"/>
  </head>
  <body>
    <div id="wrapper">
      <header>
         <div class="logo"></div>
         <h1>Chatter Box</h1>
      </header>
      <div class="clear"></div>
      <div class="content">
         <h2>Welcome  <%= user %></h2>
      </div>
      <form>
         <textarea id="message"></textarea>
         <input id="send" type="submit" value="Send"/>
      </form>
      <footer>
         <p>&copy; 2013. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
